<img src="img/logo.png" alt="Psono Web Client" id="logo">

<h3>Privacy Policy:</h3><br>
<p>Your privacy is important to us. Psono follows some fundamental principles:</p>
<ul>
    <li>We do not ask for any information that we do not really need.</li>
    <li>We do not share your information with anyone except to comply with the German law, protect our
        rights and develop our product.</li>
    <li>No sensitive data like your passwords will ever leave your computer without being encrypted
        before.</li>
</ul>

<p>
    Your personal data is processed by us only in accordance with the German data privacy law. The following
    passages describes the type and purpose of the use of the gathered personal data. This privacy policy
    only applies to the:
</p>
<ul>
    <li>official <a href="https://www.psono.pw" rel="nofollow noopener"><b>web client</b></a></li>
    <li>official <a href="https://addons.mozilla.org/de/firefox/addon/psono-pw-password-manager/" rel="nofollow noopener"><b>Firefox extension</b></a></li>
    <li>official <a href="https://chrome.google.com/webstore/detail/psonopw/eljmjmgjkbmpmfljlmklcfineebidmlo" rel="nofollow noopener"><b>Chrome extension</b></a></li>
    <li>official <b>Android App</b></li>
    <li>official <b>iOS App</b></li>
</ul>
<p>
    Explicitly excluded are all other linked websites and copies of this privacy notice.
</p>
<br>

<h4>Personal Data</h4>
<p>
    Any data (name, address, billing information, IP-address, ...) is only used to fulfill the service
    and without a legal basis or your explicit consent, not given to any third parties.
</p>
<p>
    Psono collects personal-identifying information like for example the IP address while using our
    service, to ensure the service availability and to protect your account. Psono may use that
    information for statistical analysis and may display this anonymized statistical analysis publicly or
    provide it to others.
</p>
<p>
    Account holders in addition must specify some additional information during registration, like for
    example their e-mail address. That information is used to prevent service disruptions and to inform
    users about security relevant information.
</p><br>

<h4>Browser Storage</h4>
<p>
    For technical reason (login, sessions, ...) we are using browser storage
    (e.g. cookies, local storage, ...), which stores data in your browser.
</p><br>

<h4>Google Analytics</h4>
<p>
    This service uses Google Analytics (GA) (by Google Inc), to analyse customer behaviour.
    GA for that reason uses cookies to identify and track users and user behaviour. GA offers
    the possibility to opt out of this data collection by installing a browser plug-in here:
</p>
<p>
    <a href="http://tools.google.com/dlpage/gaoptout?hl=en" rel="nofollow noopener">
        http://tools.google.com/dlpage/gaoptout?hl=en
    </a>
</p>
<p>
    Psono uses the GA's "anonymizeIP()" function, to truncate IPs before processing them to prevent
    direct associations to persons.
</p><br>

<h4>Yubico</h4>
<p>
    This service offers the use of YubiKey OTP for multi-factor authentication. When using this feature
    the server will send your OTP token to the Yubico Validation Service to authenticate your token.
</p><br>

<h4>Duo</h4>
<p>
    This service also offers the use of Duo for multi-factor authentication. When using this feature
    the server will register a user with your username with duo at the beginning. Later when you use
    Duo (e.g. during the login process), the server will send requests to the Duo service to identify
    you with them and protect your account.
</p><br>

<h4>Mailgun</h4>
<p>
    This service is using Mailgun as a service to handle all e-mail traffic, that includes registration
    emails, support emails and potential security notifications.
</p><br>

<h4>Freshdesk</h4>
<p>
    This service uses Freshdesk to handle support requests. Whenever you are opening a new ticket,
    via email or support form it will be processes by Freshdesk including all information that you
    may provide in the process (IP, email address, all data of your support request, ...).
</p><br>

<h4>sentry.io</h4>
<p>
    This service uses Sentry (from sentry.io) to handle errors. Whenever an error is recorded it's sent to sentry so
    problems can be fixed quickly. This is necessary to ensure the integrity, reliability and availability of the service
    for all users as testing cannot check all potential OS / browser / devices / version combinations.
</p><br>

<h4>haveibeenpwned.com</h4>
<p>
    Psono offers the possibility to check all passwords in the datastore against "haveibeenpwned.com",
    an online database containing the passwords of various data breaches. If you use this option, then
    a checksum (the first 5 digits of the sha1 hash) of every password will be sent to haveibeenpwned.
</p><br>

<h4>HKP</h4>
<p>
    Psono's PGP feature requires to lookup the public keys for email addresses (to validate signatures or
    to encrypt a message for a recipient). HKP (HTTP Keyserver Protocol) server receive usually the email
    address of the recipient and will return the public key. The default configured HKP server is keyserver.ubuntu.com
    but can be changed in the settings.
</p><br>

<h4>Cloudflare</h4>
<p>
    Psono is using Cloudflare to protect it's server from DDoS attacks, offer reduced load times for
    users and decrease the general server load. All requests are proxied by servers that are closest to the user.
    An overview of Cloudflares data privacy commitment can be found here
    <a href="https://www.cloudflare.com/gdpr/introduction/" rel="nofollow noopener">Cloudflare</a>
</p><br>

<h4>Google Cloud Storage</h4>
<p>
    Psono is offering the use of Google Cloud Storage as file repository. If configured, the client will
    upload encrypted files there. It's a direct communication between the Psono web client and Google Cloud Storage, so Google
    has access to metadata e.g. your ip, which bucket did you access, when did you access it.
    More information can be found in Google's
    <a href="https://cloud.google.com/terms/" rel="nofollow noopener">Terms of Service</a> and Google's
    <a href="https://cloud.google.com/terms/data-processing-terms" rel="nofollow noopener">Data Processing and Security Terms</a>
</p><br>

<h4>Amazaon Web Services S3</h4>
<p>
    Psono is offering the use of AWS S3 as file repository. If configured, the client will
    upload encrypted files there. It's a direct communication between the Psono web client and AWS, so AWS
    has access to metadata e.g. your ip, which bucket did you access, when did you access it.
    More information can be found in
    <a href="https://aws.amazon.com/service-terms/" rel="nofollow noopener">AWS Service Terms</a>
</p><br>

<h4>Digital Ocean Spaces</h4>
<p>
    Psono is offering the use of Digital Ocean Spaces as file repository. If configured, the client will
    upload encrypted files there. It's a direct communication between the Psono web client and Digital Ocean, so Digital Ocean
    has access to metadata e.g. your ip, which bucket did you access, when did you access it.
    More information can be found in Digital Ocean's

    <a href="https://www.digitalocean.com/legal/terms-of-service-agreement/" rel="nofollow noopener">Terms of Service Agreement</a> and Digital Ocean's
    <a href="https://www.digitalocean.com/legal/privacy-policy/" rel="nofollow noopener">Privacy Policy</a>
</p><br>

<h4>Google Cloud Platform</h4>
<p>
    This service is hosted by Google on the Google Cloud Platform. Google itself has the highest
    standards of privacy. Yet as the platform provider, Google has access to all information that the
    application itself has access to (e.g. your ip, email address, browser information, ...).<br>
    More information about how Google handles informations and what measures have been applied can be
    found for example in Google's
    <a href="https://cloud.google.com/terms/" rel="nofollow noopener">Terms of Service</a> and Google's
    <a href="https://cloud.google.com/terms/data-processing-terms" rel="nofollow noopener">Data Processing and Security Terms</a>
</p><br>

<p>
    Psono may update it's privacy statement from time to time and we encourage everyone to check
    regularly. It has last been updated Sept 28th, 2019.
</p><br>

<h3>Address:</h3>
Sascha Pfeiffer<br>
Hofmannstraße 48<br>
91058 Erlangen<br>
Germany<br>
<br>
<h3>E-Mail:</h3>
contact(a)psono.com<br>
<br>